### Importing libraries to create the dashboard

In [27]:
# Import libraries
from dotenv import load_dotenv
import os
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ipywidgets as widgets
from IPython.display import display

### Load Environment Variables

In [28]:
# Load environment variables
load_dotenv()
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_host = os.getenv('DB_HOST')
db_name = os.getenv('DB_NAME')

### Connect to the Online Database

In [29]:
# Connect to the Stack Overflow database
conn = psycopg2.connect(
    host=db_host,
    database=db_name,
    user=db_user,
    password=db_password
)

### Defining the Heart Metrics and storing it in a Dictionary

In [30]:
# Define HEART metrics for Stack Overflow
heart_metrics = {
    'Happiness': 'Measure of user satisfaction and happiness with the Questions & Answers product.',
    'Engagement': 'Measure of user interaction and activity on the platform.',
    'Adoption': 'Measure of user acquisition and growth of Stack Overflow user base.',
    'Retention': 'Measure of user retention and continued usage of the platform over time.',
    'Task Success': 'Measure of user ability to accomplish their goals and tasks effectively on Stack Overflow.'
}

### Creating a SQLAlchemy Engine to be used for Data Exploration with Pandas

In [31]:
from sqlalchemy import create_engine

engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}/{db_name}")
connection = engine.connect()

In [33]:
# Test the connection through users table
test_query = "SELECT * FROM users LIMIT 5"
test_df = pd.read_sql(test_query, connection)
test_df

,id,account_id,reputation,views,down_votes,up_votes,display_name,location,profile_image_url,website_url,about_me,creation_date,last_access_date
0,18143118,24182692,1,0,0,0,Utilis,None,None,None,None,2022-02-07 15:25:24.417,2022-04-21 14:50:52.640
1,18143119,24182693,1,0,0,0,Simmons Jonsson,None,None,https://anotepad.com/notes/kpb4ac6g,<p>Apa Untungnya Taruhan Judi Online Uang Asli...,2022-02-07 15:25:28.007,2022-02-07 19:34:12.140
2,18143120,24182694,1,0,0,0,Barry Walton,None,None,None,None,2022-02-07 15:25:33.510,2022-02-07 15:25:33.510
3,18143121,24182695,1,1,0,0,SkyNicarum,None,None,None,None,2022-02-07 15:25:33.750,2022-04-18 17:19:08.597
4,18143122,24182696,1,0,0,0,ero0123,None,None,None,None,2022-02-07 15:25:37.150,2022-03-01 14:14:32.887

### Data Exploration on Posts tables
After having a look at the notes made in my plan.md, I think understand what the tables within Posts section would be helpful. This is because I don't really know what posts users can be making and getting an understanding of this first would give me a better of what the product is for the users. The tables I want to explore are `Posts`, `PostNotices` and `PostTypes`.

After getting a grasp of what the product is, looking at the votes and feedback could be a good next step.

In [34]:
posts_query = "SELECT * FROM Posts LIMIT 5"
posts_df = pd.read_sql(posts_query, connection)
posts_df

,id,owner_user_id,last_editor_user_id,post_type_id,accepted_answer_id,score,parent_id,view_count,answer_count,comment_count,...,title,tags,content_license,body,favorite_count,creation_date,community_owned_date,closed_date,last_edit_date,last_activity_date
0,3033,219,2766176.0,1,3360.0,118,NaN,130412.0,9.0,0,...,What's the safest way to iterate through the k...,<perl><hash><iteration><each>,CC BY-SA 2.5,"<p>If I have a Perl hash with a bunch of (key,...",0.0,2008-08-06 02:53:13.033,NaT,None,2008-12-03 04:11:28.983,2015-12-05 23:00:21.943
1,3035,358,2921691.0,2,NaN,27,3021.0,NaN,NaN,2,...,None,None,CC BY-SA 3.0,<p>Recursion is a method of solving problems b...,NaN,2008-08-06 02:54:58.850,2014-03-11 09:47:20.470,None,2016-02-07 14:18:11.333,2016-02-07 14:18:11.333
2,3037,431,NaN,2,NaN,0,3021.0,NaN,NaN,0,...,None,None,CC BY-SA 2.5,<p>I have created a recursive function to conc...,NaN,2008-08-06 03:00:16.547,2014-03-11 09:47:20.470,None,NaT,2008-08-06 03:00:16.547
3,3040,457,NaN,2,NaN,22,469.0,NaN,NaN,0,...,None,None,CC BY-SA 2.5,<p>Unfortunately the only API that isn't depre...,NaN,2008-08-06 03:01:23.890,NaT,None,NaT,2008-08-06 03:01:23.890
4,3042,216,NaN,2,NaN,4,3021.0,NaN,NaN,0,...,None,None,CC BY-SA 2.5,<p>Recursion works best with what I like to ca...,NaN,2008-08-06 03:12:15.507,2014-03-11 09:47:20.470,None,NaT,2008-08-06 03:12:15.507